<header class="jumbotron hero-spacer">
    
            <h1 class="pageone">A Warm Welcome!</h1>
                <p class="pageone">This is my basic portfolio site. I am going to be updating and refining it constantly. I regard it as both a place to display my skills and as a sort of playground for the things that interest me.</p>
                <p class="pageone"><a href= "/contact" class="btn btn-primary btn-large">Contact me!</a></p>
        </header>
        

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Links to my projects</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/assets/i_hartl.png" alt=" ">
                    <div class="caption">
                        <h3>The Hartl Tutorial</h3>
                        <p>This tutorial spent extensive time covering TDD practices.</p>
                        <p>
                            <a href="https://bitbucket.org/obviouslyrob/sample_app/src" class="btn btn-primary" target="_blank">Bitbucket Repo</a> <a href="https://secure-citadel-40704.herokuapp.com/" class="btn btn-default" target="_blank">HerokuApp</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/assets/i_flixter.png" alt="">
                    <div class="caption">
                        <h3>Flixter</h3>
                        <p>In addition to covering secure payment functionality, this project dove into more advanced JavaScript.</p>
                        <p>
                            <a href="https://github.com/BostonTheseus/flixter2" class="btn btn-primary" target="_blank">Github Repo</a> <a href="https://flixter2-rhgmorr.herokuapp.com/" class="btn btn-default" target="_blank">HerokuApp</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/assets/i_todo.png" alt="">
                    <div class="caption">
                        <h3>Basic ToDo App</h3>
                        <p>A static page made with JavaScript</p>
                        <p>
                            <a href="https://github.com/BostonTheseus/todo" class="btn btn-primary" target="_blank">Github Repo</a> <a href="https://todo-js-rhgm.herokuapp.com/" class="btn btn-default" target="_blank">HerokuApp</a>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="circle">
					    <br />
					    FAMOUS FIRST LINES
					    <br />
					    ON DEMAND
				    </div>
                    <div class="caption">
                        <h3>Splurty</h3>
                        <p>A basic random quote generator</p>
                        <p>
                            <a href="https://github.com/BostonTheseus/fhlesson1" class="btn btn-primary">Github Repo</a> <a href="https://splurty-robert-morris.herokuapp.com/" class="btn btn-default">HerokuApp</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>More projects to come!</h3>
                        <p>(The BetterLorem gem was used on this page)<%= BetterLorem.c(25, true, true) %></p>
                        <p>
                            <a href="#" class="btn btn-primary">Coming soon!</a> <a href="#" class="btn btn-default">Coming soon!</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
<!-- Filler Lorem Ipsum for test
<div class="col-xs-10 col-xs-offset-1">
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
</div>
-->