<!DOCTYPE html>
<html>
<head>
  <title>Homepage for Robert Morris</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
<script>
        function htmlbodyHeightUpdate(){
		var height3 = $( window ).height()
		var height1 = $('.nav').height()+50
		height2 = $('.main').height()
		if(height2 > height3){
			$('html').height(Math.max(height1,height3,height2)+10);
			$('body').height(Math.max(height1,height3,height2)+10);
		}
		else
		{
			$('html').height(Math.max(height1,height3,height2));
			$('body').height(Math.max(height1,height3,height2));
		}
		
	}
	$(document).ready(function () {
		htmlbodyHeightUpdate()
		$( window ).resize(function() {
			htmlbodyHeightUpdate()
		});
		$( window ).scroll(function() {
			height2 = $('.main').height()
  			htmlbodyHeightUpdate()
		});
	});
</script>

<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Robert Morris</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1" style="background-color: #5f8ed2">
			<ul class="nav navbar-nav">
				<li><a href="/" style="color: #000;">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-globe glyph_color"></span></a></li>
				<li><a href="/resume/" class="on_hover" style="color: #fffe8f;">Resume<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user glyph_color"></span></a></li>
				<li><a href="/contact/" class="on_hover" style="color: #fffe8f;">Contact Information<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope glyph_color"></span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #fffe8f;">External Links <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-link glyph_color"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li>
							<%= link_to 'https://github.com/BostonTheseus', target: :_blank do %>
								<%= image_tag 'github.png', class: 'external-icon', alt: 'Github' %>
							<% end %>
						</li>
						<li>
							<%= link_to 'https://www.linkedin.com/in/robert-morris-36b75023/',  target: :_blank do %>
								<%= image_tag 'linkedin.png', class: 'external-icon', alt: 'LinkedIn' %>
							<% end %>
						</li>
						<!-- <li><%= link_to 'https://medium.com/@obviouslyrob', target: :_blank do %>
								<%= image_tag 'medium.png', class: 'external-icon', alt: 'Medium' %>
							<% end %>
						</li> -->
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #fffe8f;">Creative Work <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil glyph_color"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="/published/">Published Work</a></li>
						<li><a href="/poetry/">Poetry</a></li>
						<li><a href="/fiction/">Fiction</a></li>
						<li><a href="/holycity">The Holy City</a></li>
					</ul>
				</li>
				<li ><a href="/about/" class="on_hover" style="color: #fffe8f;">About this Page<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-info-sign glyph_color"></span></a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="main">
    <%= yield %>
</div>

</body>